@model StudentMVC.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Student</h1>

<h5>Enter Details:</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Student Name</label>
                <input asp-for="Sname" class="form-control" />
                <span asp-validation-for="Sname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Standard</label>
                <input asp-for="Std" class="form-control" />
                <span asp-validation-for="Std" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
